<!DOCTYPE html>
<html>

<head>
	<title>Hangman</title>
	<meta charset="utf-8" />
	<!-- To make mobile friendly -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!-- CSS Imports -->
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>

	<!-- Fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

	<!-- Custom CSS (It's better to use Bootstrap where possible) -->
	<style type="text/css">
		.displayLetter {
			width: 25px !important;
			display: inline-block;
		}
	</style>
</head>

<!-- Bootstrap navbar -->
<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
		<!-- Nav Title -->
		<a class="navbar-brand" href="">Hangman</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- Menu Options -->
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="">Home</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="">New Game</a>
				</li>
		</div>
	</nav>
</header>

<body>
	<div class="container" id="app">
		<!-- <p>hiddenWord: {{hiddenWord}}</p> -->
		<!-- <p>alphabet: {{alphabet}}</p> -->

		<h3 class="text-center mb-4">
			<span v-for="letter in hiddenWord">
				<b class="mx-1 border-bottom border-dark displayLetter" v-if="letters[letter].hasBeenChosenByUser">{{letter}}</b>
				<b class="mx-1 text-white border-bottom border-dark displayLetter" v-else>?</b>
			</span>
		</h3>

		<div class="row text-center">
			<!-- Game Window -->
			<div class="col-6 col-lg-8" style="border-style: solid;">
				<svg viewBox="0 0 210 297">
					<g>
						<rect v-if="numRemainingGuesses < 10" id="gallows0" width="120.76339" height="5.1026783" x="-162.43526" y="242.66591" style="stroke-width:0.77749395" transform="scale(-1,1)" />
						<rect v-if="numRemainingGuesses < 9" id="gallows1" width="201.65028" height="5.1026783" x="44.606392" y="137.67783" style="stroke-width:1.00468242" transform="matrix(0,1,1,0,0,0)" />
						<rect v-if="numRemainingGuesses < 8" id="gallows2" width="120.76339" height="5.1026783" x="-162.63573" y="40.070679" style="stroke-width:0.77749395" transform="scale(-1,1)" />
						<rect v-if="numRemainingGuesses < 7" id="gallows3" width="39.673386" height="5.1026783" x="41.431587" y="84.578529" style="stroke-width:0.44563469" transform="matrix(0,1,1,0,0,0)" />
						<circle v-if="numRemainingGuesses < 6" id="head" cx="87.241135" cy="95.980103" style="stroke-width:0.26458332" r="16.489212" />
						<rect v-if="numRemainingGuesses < 5" id="body" width="1.7008928" height="64.633926" x="86.107208" y="109.63453" style="stroke-width:0.26458332" />
						<rect v-if="numRemainingGuesses < 4" id="leftArm" width="40.254463" height="1.7008928" x="-159.02344" y="35.548561" style="stroke-width:0.25916466" transform="matrix(-0.70710678,-0.70710678,-0.70710678,0.70710678,0,0)" />
						<rect v-if="numRemainingGuesses < 3" id="rightArm" width="40.254463" height="1.7008928" x="-36.749195" y="158.52542" style="stroke-width:0.25916466" transform="rotate(-45)" />
						<rect v-if="numRemainingGuesses < 2" id="leftLeg" width="40.254463" height="1.7008928" x="-101.39115" y="183.6152" style="stroke-width:0.25916466" transform="rotate(-45)" />
						<rect v-if="numRemainingGuesses < 1" id="rightLeg" width="40.254463" height="1.7008928" x="-224.36786" y="60.638519" style="stroke-width:0.25916466" transform="matrix(-0.70710678,-0.70710678,-0.70710678,0.70710678,0,0)" />
					</g>
				</svg>
			</div>

			<!-- On Screen Keyboard -->
			<div class="col-6 col-lg-4">
				<div class="container">
					<div class="row">
						<button v-for="letter in letters" type="button" class="btn btn-outline-dark col m-1" :disabled="letter.hasBeenChosenByUser" v-on:click="guessLetter(letter.character)">{{letter.character}} </button>
					</div>
				</div>
				<h2>Remaining Guesses: {{numRemainingGuesses}}</h2>
			</div>
		</div>

		<!-- Game Modal -->
		<div class="modal fade" id="gameModal" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">{{gameModalTitle}}</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>{{gameModalBodyText}}</p>
						
						<!-- If new game - show new game options -->

					</div>
					<div class="modal-footer">
						<a class="btn btn-primary" href="">New Game</a>
					</div>
				</div>
			</div>
		</div>
		

	</div>

</body>


<!-- Import VueJS -->
<!-- DEV VERSION (CONSOLE WARNINGS)-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- PROD VERSION (SMALLER/FASTER) -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
<!-- Setup App -->
<script type="text/javascript">
var app = new Vue({
	el: '#app',
	data: {
		hiddenWord: '',
		alphabet: 'ABCDEFGHIJKLMNOPQRSTUVWXYZ',
		letters: {},//Will contain an object
		dictionary: [],
		numRemainingGuesses: 10,
		gameModalTitle: '',
		gameModalBodyText: '',
		numCorrectLetters: 0,

	},
	methods: {
		// Called by user attempting to guess a letter
		// Checks if letter is within hidden word
		guessLetter: async function (letter) {
			this.letters[letter].hasBeenChosenByUser = true;

			// If they guessed wrong
			if(! this.hiddenWord.includes(letter)){
				this.numRemainingGuesses -= 1;

				// Lost The Game
				if(this.numRemainingGuesses < 1){
					this.gameModalTitle = "You Lose!";
					this.gameModalBodyText = `The correct word was: "${this.hiddenWord}"`;

					$('#gameModal').modal('show');
				}
			}


			// They've guessed right
			else{
				var numThisLetter = (this.hiddenWord.split(letter).length - 1);
				this.numCorrectLetters += numThisLetter;
				// Won the game
				if(this.numCorrectLetters == this.hiddenWord.length){
					this.gameModalTitle = "You Win!";
					this.gameModalBodyText = `The correct word was:  "${this.hiddenWord}"`;
					$('#gameModal').modal('show');
				}

			}
			
			this.$forceUpdate();
		},
		
		// Read each line from wordlist file into a js dict
		readDictionary: async function () {
			let dictionary = await fetch('wordlist.txt');
			dictionary = await dictionary.text();
			dictionary = dictionary.split('\n');
			return dictionary
		},

		// Returns a random item from inputted list
		getRandomWord: async function (dictionary) {
			let randomIndex = Math.floor(Math.random() * dictionary.length)
			return dictionary[randomIndex]
		},
		
		// Performs multiple setup actions
		setupApp: async function () {
			// Instantiate Dictionary
			this.dictionary = await this.readDictionary();

			// Instantiate Hidden Word
			this.hiddenWord = await this.getRandomWord(this.dictionary);
			

			// Instantiate Letters Object
			for (let alphabetLetter of this.alphabet) {
				this.letters[alphabetLetter] = {
					character: alphabetLetter,
					hasBeenChosenByUser: false,
				}
			}
			
			//Force UI to update
			this.$forceUpdate();
		}
	},

	// This method is run when Vue finishes loading
	mounted: function () {
		this.setupApp();
	}
})
//make hidden word - - - - - -



// for each letter in hidden letter
// masked word = "-"
// masked word (duplicate) letter.length

// hiddenarray[] = hiddenword.split 
// if clicked letter included in hidden array
// hiddenarray[letter] = letter (update individual character)
// display to screen
</script>

</html>

